<!DOCTYPE html>
<html>
  <head>
    <title>Vapor App</title>
    <meta about="Vapor application" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height" >
    <link rel="stylesheet" href="https://static.cloud.coveo.com/styleguide/v2.3.1/css/CoveoStyleGuide.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.7.2/redux.min.js"></script>
    <script type="text/javascript" src="../node_modules/coveo-client/dist/Coveo.js"></script>
    <script type="text/javascript" src="../node_modules/vapor-admin/dist/vendor.js"></script>
    <script type="text/javascript" src="../node_modules/vapor-admin/dist/vapor.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            window["CoveoClient"] = new Coveo.Client({
                organizationId: "",
                token: ""
            });
            var app = new Vapor.Application();
            SourceAdmin.register(app);
            app.init(document.getElementById("app"));
        })
    </script>
  </head>

  <body class='coveo-styleguide'>
      <div id="app" class="full-content-y"/>
  </body>
</html>